{% extends "index.html" %} {% block content %}

<main class="routines">
  
  <section class="container">
    <div class="grid grid--three">
      {% for item in object_list %}
      <div class="three--song">
        <div class="column">
          <div class="card" >
          
            <div class="card-body">
              <h1 class="card-title">
                
                  {{item.routine_title}}
               
              </h1>

             
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</main>

{% endblock content %}