{% load static %}
    <!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/css.css' %}">
    <title>My amazing site</title>
</head>

<body>
    <div id="sidebar">
        
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog/">Blog</a></li>
        </ul>
        
    </div>

    <div id="content">
     <div id="root"></div>
       <!-- making the department_choices variable avialable in the DOM -->
       <!-- main.a00e5ead.js -->
       <script src="{% static 'js/main.a00e5ead.js' %}"></script>



</div>
</body>
</html>